.dashb-home-container {
  display: inline-block;
  margin-left: 5vh;
  margin-top: 2vh;
  margin-bottom: 4vh;

  @media (min-width: 0px) {
    margin-top: 2vh;
    margin-bottom: 25vh;
  }

}

.spin {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}



/********** Large devices only **********/
@media (min-width: 1200px) {}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {}

/********** Extra small devices only **********/
@media (max-width: 767px) {}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .dashb-home-container {
    display: block;
  }
}