body {
  display: flex;
  padding-top: 0px;
}

.background {
  display: flex;
  padding-top: 0px;
}

.sidebar-container {
  width: 40vh;
  border-right: 1px solid rgb(198, 216, 243);
  transition: width 0.3s;
  min-height: 70vh;


}

.sidebar-container.sidebar-closed {
  width: 60px;
}

.nav-top {
  border-bottom: 1px solid rgb(198, 216, 243);
}

.nav-middle {
  border-bottom: 1px solid rgb(198, 216, 243);
}

.view-container {
  // flex: 3;
  width: -webkit-fill-available;
  // margin-left: 5vh;
  transition: margin-left 0.3s;
}

.view-container.sidebar-closed {
  margin-left: 5vh;
}



.nav-option {
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 2vh;
  line-height: 4vh;
  color: #000000;
  text-decoration: none;
  transition: color 0.1s, background-color 0.3s;

  &:hover {
    //color: #ffffff;
    background-color: #cdd1e6;
    border-radius: 5px;
  }
}

/********** Large devices only **********/
@media (min-width: 1200px) {}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {}

/********** Extra small devices only **********/
@media (max-width: 767px) {}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {}