.archive {
    .c-finale-box {
        margin-left: -267px;
    }

    .archive-classes {
        margin-left: -310px;
        margin-right: -340px;
    }

    .archive-classe-home {
        padding-left: 40px;
        padding-top: 20px;
        max-width: 190vh;
        overflow-x: auto;
    }

}

/********** Large devices only **********/
@media (min-width: 1200px) {}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .archive {
        .finale-box {
            margin-left: -100px;
        }
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {}