.program-container {
    height: 30vh;
    width: 40vh;
    border-radius: 5%;
    margin: 2vh;
    padding: 2px;
    float: left;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 10px 4px lightgray;
    text-decoration: none;
}

.program-head {
    height: 50%;
}

.program-container .program-head {
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;
    text-align: start;
    padding: 2%;

    a {
        text-decoration: none;
        color: black;
        // font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 10px;
        // margin: 0 10px;
        font-weight: bold;
        text-transform: uppercase;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* Empêche le texte de passer à la ligne */
        overflow: hidden;
        /* Masque le texte qui dépasse */

        &:hover {
            text-decoration: underline;
        }
    }
}

.program-middle {
    height: 40%;
    border-top: 1px solid rgb(218, 214, 214);
}

.program-bottom {
    height: 10%;
    border-top: 1px solid rgb(218, 214, 214);
}

:root {
    --class1-head-color: rgb(160, 201, 49);
    --class2-head-color: #ff5733;
    --class3-head-color: #3366cc;
    --class4-head-color: #cd2ddb;
    --class5-head-color: #f50c78;
    --class6-head-color: #dace29;
    --class7-head-color: #c2be7e;
    --class8-head-color: #15839e;
    --class9-head-color: #f01e17;
    --class10-head-color: #e4e141;

}

.program-head.class1 {
    background-color: var(--class1-head-color);
}

.program-head.class2 {
    background-color: var(--class2-head-color);
}

.program-head.class3 {
    background-color: var(--class3-head-color);
}

.program-head.class4 {
    background-color: var(--class4-head-color);
}

.program-head.class5 {
    background-color: var(--class5-head-color);
}

.program-head.class6 {
    background-color: var(--class6-head-color);
}

.program-head.class7 {
    background-color: var(--class7-head-color);
}

.program-head.class8 {
    background-color: var(--class8-head-color);
}

.program-head.class9 {
    background-color: var(--class9-head-color);
}

.program-head.class10 {
    background-color: var(--class10-head-color);
}

/********** Large devices only **********/
@media (min-width: 1200px) {}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {}

/********** Extra small devices only **********/
@media (max-width: 767px) {}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {}